@charset "UTF-8";
/* Medios fluidos sencillos
   Nota: Los medios fluidos exigen la eliminación de los atributos de altura y anchura de los medios del código HTML
   http://www.alistapart.com/articles/fluid-images/ 
*/
img, object, embed, video {
	max-width: 100%;
}
/* IE 6 no admite max-width (anchura máxima), por lo que usa de manera predeterminada una anchura del 100% */
.ie6 img {
	width:100%;
}

a { text-decoration:none; margin:0 }

body { background:#fafafa url("../img/bg01.png") 50px 0 no-repeat!important; background-size:100% }

.top {float:left; width:55%; margin:0 0 10px 0; height:60px; background:#fff;}
.topbrands {  float:left; height:20px; width:980px; padding:20px 0 20px 0; margin:0 0 10px 0; background:#fff url(../img/topbrands.jpg) no-repeat;}
.search {width:210px; height:50x; margin:20px  0 10px 760px; padding:0; position:absolute }
.search input[type="text"] {float:left; margin:0 0 0 30px; border: 2px solid #d4d4d4; padding:5px 5px; -webkit-border-radius: 5px; -moz-border-radius: 5px; border-radius: 5px; color:#999; }
.buttonSearch {position:absolute; margin:0; padding:0; height:30px; width:30px; }

#header { width:980px; float:left; display:block ; margin:0 0 10px 0}
.logo {  float:left; width:232px; margin:20px 17px 10px 0; }
.logo a { display:block; height:56px; width:232px; background:url("../img/slim360-logo.png") no-repeat; text-indent:-9999px }
.bannerHeader {float:left; height:90px; width:728px }

#topNav li:hover .dropdown_1column, 
#topNav li:hover .dropdown_2columns, 
#topNav li:hover .dropdown_3columns,
#topNav li:hover .dropdown_4columns,
#topNav li:hover .dropdown_5columns {
    left:-1px;
    top:auto;
}
 

#topNav .topNav_right {
    float:right;
    margin-right:0px;
}
#topNav li .align_right {

}
#topNav li:hover .align_right {
    left:auto;
    right:-1px;
    top:auto;
	z-index:9999
}
 


#mainNav { display:block; width:980px; clear:both; margin:10px 0 10px 0}
 
/* topnav */
#topnav li { display: inline; text-transform:uppercase; color:#333}
#topnav a { color:#111; text-decoration:none}


/* main Nav */
#topNav {
    background:url("../img/topnav.png") no-repeat;
    width: 979px;
    height: 40px;
    margin: 0;
    padding: 0;
	
}

#topNav li, #topNav a {
    height: 40px;
    display: block;
}

#topNav li {
    float: left;
    list-style: none;
    display: inline;
    text-indent: -9999em;
}

/*#topNavLink1, #topNavLink2, #topNavLink3, #topNavLink4, #topNavLink5, #topNavLink6, #topNavLink7, #topNavLink8, #topNavLink9 { border:1px solid purple }*/

#topNavLink1 { width: 66px; }
#topNavLink2 { width: 91px; }
#topNavLink3 { width: 77px; }
#topNavLink4 { width: 82px;  }
#topNavLink5 { width: 117px;  }
#topNavLink6 { width: 169px; }
#topNavLink7 { width: 128px; }
#topNavLink8 { width: 102px; }
#topNavLink9 { width: 147px; }


#topNavLink1 a:hover { background:url("../img/topnav.png")  0px  -41px no-repeat; }
#topNavLink2 a:hover { background:url("../img/topnav.png") -66px -41px no-repeat; }
#topNavLink3 a:hover { background:url("../img/topnav.png") -157px -41px no-repeat; }
#topNavLink4 a:hover { background:url("../img/topnav.png") -234px -41px no-repeat; }
#topNavLink5 a:hover { background:url("../img/topnav.png") -316px -41px no-repeat; }
#topNavLink6 a:hover { background:url("../img/topnav.png") -433px -41px no-repeat; }
#topNavLink7 a:hover { background:url("../img/topnav.png") -602px -41px no-repeat; }
#topNavLink8 a:hover { background:url("../img/topnav.png") -730px -41px no-repeat; }
#topNavLink9 a:hover { background:url("../img/topnav.png") -832px -41px no-repeat; }

/* dropdow */
.col1, .col2, .col3, .col4, .col5, .col6 { margin: 10px 0; padding: 0 10px; float: left; }
/* 1 Column */
.container-1 { width: 170px; }
.container-1 .col1 { width: 100%; }
/* 2 Columns */
.container-2 { width: 270px; }
.container-2 .col1 { width: 50%; }
.container-2 .col2 { width: 100%; }
/* 3 Columns */
.container-3 { width: 400px; }
.container-3 .col1 { width: 33.33%; }
.container-3 .col2 { width: 66.66%; }
.container-3 .col3 { width: 100%; }
/* 4 Columns */
.container-4 { width: 500px; }
.container-4 .col1 { width: 25%; }
.container-4 .col2 { width: 50%; }
.container-4 .col3 { width: 75%; }
.container-4 .col4 { width: 100%; }
/* 5 Column */
.container-5 { width: 600px; }
.container-5 .col1 { width: 20%; }
.container-5 .col2 { width: 40% }
.container-5 .col3 { width: 60% }
.container-5 .col4 { width: 80% }
.container-5 .col5 { width: 100% }

/*debug*/



.newshighlight, .newsblockLeft { float:left }
.newshighlight img {
  height: 372px;
  width: 559px;
}


.newsFirstright { float:right; height:181px }
.newsSecondright { float:right; }


.newshighlight  {  width:560px;}
.newsblockLeft  { width:560px; margin-right:10px; }
.newsblockRight  { float:left; width:408px;  }

.newsFirstright { margin-bottom:10px }


.category { position:relative!important; top:-70px; padding:5px 15px 5px 15px; margin:-70px 0 0 0; z-index:9999; text-transform:lowercase;   }

.category strong { font-weight:lighter }
.category a { color:#fff }
.borderImg { position:absolute; width:100px; padding:3px 3px; margin-top:-2px }
.headlineFirst { width:560px; float:left; margin-top:-71px;  background-color:#ecf3e8;  opacity: 0.8; z-index:1 }
.headlineSecond { width:408px; float:left; margin-top:-72px;  background-color:#ecf3e8;  opacity: 0.8; z-index:1 }
.headlineThird { width:408px; float:left; margin-top:-71px;  background-color:#ecf3e8;  opacity: 0.8; z-index:1 }

/*.headline { position:absolute;  width:90%; height:3em; background-color:#ecf3e8;  opacity: 0.8;  margin:-45px 0 0 0; padding:5px 2px 1px 5px; z-index:1 } */
.headlineFirst h2, .headlineSecond h2, .headlineThird h2 { color:#000; font-weight:lighter; padding-left:10px}

/* */

/* colors */
.color1 { background-color:#00aeef; color:#fff; font-weight:bold } 
.color2 { background-color:#f62e81; color:#fff; font-weight:bold } 
.color3 { background-color:#f6d82e; color:#fff; font-weight:bold } 
.color4 { background-color:#29db61; color:#fff; font-weight:bold } 
.color5 { background-color:#7337dc; color:#fff; font-weight:bold } 
.color6 { background-color:#ff6d05; color:#fff; font-weight:bold } 
.color7 { background-color:#ff0550; color:#fff; font-weight:bold } 
.color8 { background-color:#0579ff; color:#fff; font-weight:bold } 
.color9 { background-color:#d627dc; color:#fff; font-weight:bold } 



.gridContainer {
	width: 100%;
	padding-left: 1.1625%;
	padding-right: 1.1625%;
}




footer { width:90%; display:block; clear:both; margin:0 auto; text-align:center; color:#fff; margin:20px 0 0 0; padding:5px 5px }
footer a { color:#fff!important }

}